<header>
    <div class='actions'>
      {{#if user/is_owner}}
        <a href="/users/{{user/id}}/edit" class='button' data-icon="y">Settings</a>
      {{else}}
        {{#if user/following}}
          <button id="unfollow" data-icon="-" data-following_id="{{user/id}}">Unfollow</button>
        {{else}}
          <button id="follow" data-icon="+" data-following_id="{{user/id}}">Follow</button>
        {{/if}}
      {{/if}}
    </div>
    <img src="{{user/image}}" />
    <h2>{{user/name}}</h2>
</header>
<ul class="playlists">
  {{#each user/playlists}}
    <li><a href="{{this/url}}">{{this/name}}</a></li>
  {{/each}}
</ul>