
<div class="searchBox">
    <input type="text" name="searchInput" id="searchInput" value="{{{q}}}"/>    
    <a id="searchExecute" href="show"> Search Artist </a>
</div>


{{#if data}}
    {{#data}}
        <section class="search">

            <article class="artistResults">
                <header> 
                    <h2> Artists ({{{artists/totalResults}}}) </h2>
                </header>
                <section>
                    {{#firstOfArray artists/entry}}
                    <div class="floatRight"> Right Options </div>
                    <img class="floatLeft" src="{{{artistThumbnailUrl}}}" />
                    <ul class="artistInformation">
                            <li> <a href="{{{artistUrl}}}" data-artistId="{{{artistId}}}">{{{artistDisplayName}}}</a> </li>
                            <li> {{{genre}}} </li>
                            <li> {{{location}}} </li>
                            {{#ifOne isOfficial}} <li> Official  </li> {{/ifOne}} 
                            <li> Matches on {{{matchType}}} </li>
                    </ul>
                  {{/firstOfArray}}
                <div class="more"> <a href=""> More Artist </a> </div>
                </section>
            </article>

            <article class="songResults">
                    <header> 
                        <h2> Songs ({{{songs/totalResults}}}) </h2>
                    </header>
                    <section>
                       {{#each songs/entry}}
                        <ul>
                            <li>
                                <div class="floatRight"> Right options </div>    
                                <div class="floatLeft"> <a href="#" data-songId="{{{songId}}}">Queue</a> / <a href="#" data-songId="{{{songId}}}">Play</a> </div>
                                 <ul class="songInformation">
                                    <li> <a href="{{{songUrl}}}">{{{albumName}}}</a> {{{inMinute songDuration}}}:{{{inSecond songDuration}}} </li>
                                    <li> by {{{artistDisplayName}}} </li>
                                </ul>
                            </li>
                        </ul>
                      {{/each}}   
                      <div class="more"> <a href=""> More Songs </a> </div>
                    </section>
            </article>

            <article class="albumResults">
                        <header>
                            <h2> Albums </h2>
                        </header>
                        <section>
                            <ul>
                                <li> Artist Image </li>
                                <li> Album Name </li>
                                <li> Artist Name </li>
                                <li> Other information </li>
                            </ul>
                           <div class="more"> <a href=""> More Albums </a> </div>     
                        </section>
            </article>
            
        </section>

    {{/data}}


{{else}}

    <p> Nothing has been searched </p>


{{/if}}