<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= csrf_meta_tag %>
    <!--[if lt IE 9]>
        <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  <%= stylesheet_link_tag "style", "pictos", "musicplayer" %>
  <%= page_stylesheets %>
</head>
<body>
    <%= render "layouts/header" %>

    <div id="wrap">
         <section id="leftRail">
            <nav>
                <% if current_user %>
                    <%= link_to "Home", root_path %>
                    <%= link_to "Profile", user_path(current_user) %>
					<%= link_to "Playlists", playlist_path(current_user) %>
                    <%= link_to "Sign Out", signout_path, :class => "nosammy" %>
                <% else %>
                    <%= link_to_sign_in :facebook %>
                    <%= link_to_sign_in :myspace %>
                    <%= link_to_sign_in :twitter %>
                    <%= link_to_sign_in :google %>
                <% end %>
            </nav>
        </section>

        <section id="container" class='clearfix'>
		    <section id="rightRail">
			    <div class='module'>
                    <h3>Example Module</h3>
                </div>
             </section>
            <section id="main">
              <%= yield %>
            </section>
         </section>
    </div>

    <%= javascript_include_translations %>
    <script type="text/javascript">
      var currentLocale = '<%= I18n.locale %>';
    </script>
    <%= javascript_include_tag 'jquery', 'rails', 'sammy', 'sammy/sammy.handlebars', 'sammy/sammy.history_proxy',
                               'audio/jquery.jplayer', 'audio/musicplayer', 'audio/musicplayer.queue','audio/audio', 'application' %>
    <%= page_javascripts %>
</body>
</html>
